<table class="tablePlayer">
  <tr class="tablePlayerStats">
    <td class="tablePlayerName">{{players[playerId].name}}</td><td width="30px"></td>
    <td>Level:</td><td>{{players[playerId].level}}</td><td width="30px"></td>
    <td>Score:</td><td>{{players[playerId].points}}</td><td width="30px"></td>
    <td>Cards:</td><td>{{players[playerId].hand.length}}</td>
  </tr>
</table>
<table>
  <tr *ngFor="let cardGroup of players[playerId].playedCards">
    <td  class="tableCellCard" *ngFor="let card of cardGroup">
      <div [ngStyle]="{'color':card.getDisplayColor()}" [innerHTML]="card.getDisplayCard()"></div>
    </td>
  </tr>
<table>
