<table class="tablePlayer">
  <tr class="tablePlayerStats">
    <td class="tablePlayerName">{{player.name}}</td><td width="30px"></td>
    <td>Level:</td><td>{{player.level}}</td><td width="30px"></td>
    <td>Score:</td><td>{{player.score}}</td><td width="30px"></td>
    <td>Cards:</td><td>{{player.hand.length}}</td>
  </tr>
</table>
<table>
  <tr *ngFor="let meld of player.melds">
    <td  class="tableCellCard" *ngFor="let card of meld.getCards()">
      <div [ngStyle]="{'color':card.getDisplayColor()}" [innerHTML]="card.getDisplayCard()"></div>
    </td>
  </tr>
<table>
