<table class="boardTable">
  <tr>
    <td><app-player-area playerId=0></app-player-area></td>
    <td><app-player-area playerId=1></app-player-area></td>
  </tr>
  <tr>
    <td><app-player-area playerId=2></app-player-area></td>
    <td><app-player-area playerId=3></app-player-area></td>
  </tr>
</table>
<table class="boardTable">
  <tr>
    <td><app-shared-area [gameState] = 'gameState'></app-shared-area></td>
    <td><app-player-hand [hand] = 'gameState.players[0].hand'></app-player-hand></td>
  </tr>
<table>
