<table class="boardTable">
  <tr>
    <td><app-player-area [player] = 'gameState.players[0]'></app-player-area></td>
    <td><app-player-area [player] = 'gameState.players[1]'></app-player-area></td>
  </tr>
  <tr *ngIf='gameState.players.length > 2'>
    <td><app-player-area [player] = 'gameState.players[2]'></app-player-area></td>
    <td><app-player-area *ngIf='gameState.players.length > 3' [player] = 'gameState.players[3]'></app-player-area></td>
  </tr>
</table>
<table class="boardTable">
  <tr>
    <td><app-shared-area [gameState] = 'gameState'></app-shared-area></td>
    <td><app-player-hand [hand] = 'gameState.players[0].hand'></app-player-hand></td>
  </tr>
<table>
